
$real-vh: calc(100vh - 58px);

.context {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;

    height: calc($real-vh * 0.15);
    border-right: 0.1rem solid grey;

  }

  &__header {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 300;
  }
}

.colourpanel {
  height: calc($real-vh * 0.55);

  & > * {
    transition: background-color 500ms ease-in-out;
  }
}

.answer-area {
  height: calc($real-vh * 0.2);
}

.footer {
  width: 100%;
  height: calc($real-vh * 0.1);
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

