:root {
  --vh: calc(100vh - 80px)
}

.custom-border-bottom {
  border-bottom: 0.1rem solid grey; 

}

.shift-up {
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.fullscreen {
  --vh: 100vh;
}

nav {
  position: relative;
  z-index: 5000;
  transition: all 0.5s ease-out;
  height: 80px;
}

.context {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;

    height: calc(var(--vh) * 0.10);
    transition: height 0.5s ease-out;

    border-right: 0.1rem solid grey;

  }

  &__header {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 300;
  }
}

.colourpanel {
  height: calc(var(--vh) * 0.575);
  transition: height 0.5s ease-out;


  & > * {
    transition: background-color 500ms ease-in-out;
  }
}

.answer-area {
  height: calc(var(--vh) * 0.225);
  transition: height 0.5s ease-out;
}

.footer {
  width: 100%;
  height: calc(var(--vh) * 0.1);
  transition: height 0.5s ease-out;


  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

