.context {

  height: 10vh;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;

    border-right: 0.1rem solid grey;

  }

  &__header {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 300;
  }
}

.colourpanel {
  height: 55vh;

  & > * {
    transition: background-color 500ms ease-in-out;
  }
}

.answer-area {
  height: 20vh;

  &__choice {
    height: 25%;
  }
}

